<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body style="background-color: bisque;">
<h1 style="color: black; text-align: center;">Add User</h1>
<form th:action="@{/users/add}" style="color: black; text-align: center;" method="post" th:object="${user}">
    <label for="name">Name:</label>
    <br>
    <input type="text" id="name" th:field="*{name}" required>
    <br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">incorrect name</span>
    <br>
    <label for="lastName">Last Name:</label>
    <br>
    <input type="text" id="lastName" th:field="*{lastName}" required>
    <br>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;">incorrect name</span>
    <br>
    <label for="email">Email:</label>
    <br>
    <input type="email" id="email" th:field="*{email}" required>
    <br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;">incorrect email</span>
    <br>
    <br>
    <button type="submit">Add User</button>
</form>
<br>
<a th:href="@{/users}">Back to Users List</a>
</body>
</html>